<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <link rel="stylesheet" media="all" href="style.css">
</head>
<body>
    <div class="chat">
        <div class="chat-title">
            <figure class="avatar">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" /></figure>
        </div>
        <div class="messages">
            <div class="messages-content"></div>
        </div>
        <div class="message-box">
            <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
            <button type="submit" class="message-submit">Send</button>
        </div>

    </div>
    <div class="bg"></div>
    <script>
        {#document.querySelector('#room-name-input').focus();#}
        {#document.querySelector('#room-name-input').onkeyup = function(e) {#}
        {#    if (e.keyCode === 13) {  // enter, return#}
        {#        document.querySelector('#room-name-submit').click();#}
        {#    }#}
        {#};#}
        {##}
        {#document.querySelector('#room-name-submit').onclick = function(e) {#}
        {#    var roomName = document.querySelector('#room-name-input').value;#}
        {#    window.location.pathname = '/chat/' + roomName + '/';#}
        };
    </script>
</body>
</html>
