<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" media="all" type="text/css" href="{% static '/chat/style.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="{% static '/chat/chat.js' %}"></script>
</head>
<body>
    <div class="chat">
        <div class="chat-title">
            <h1>Mike Z</h1>
            <h2>Supah</h2>
            <figure class="avatar">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" />
            </figure>
        </div>
        <!--panel-->
        <div class="messages">
            <div id="chat-log" class="messages-content"></div>
        </div>
        <!--sender panel-->
        <div class="message-box">
            <textarea type="text" id="chat-message-input" class="message-input" placeholder="Type message..."></textarea>
            <button type="submit" id="chat-message-submit" class="message-submit">Send</button>
        </div>

    </div>
    <div class="bg"></div>
</body>
<script>
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

    //append change log
    chatSocket.onmessage = function(e) {
        console.log('on-message event.')
        var data = JSON.parse(e.data);
        var message = data['message'];
        $('#chat-log').text += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    var input_id = '#chat-message-input';
    var submit_id = '#chat-message-submit';
    
    //focus on textarea
    $(input_id).focus();
    //keyboard submit
    $(input_id).onkeyup = function(e) {
        // enter, return
        if (e.keyCode === 13) {  
            $(submit_id).click();
        }
    };
    //mouse click submit
    $(submit_id).onclick = function(e) {
        console.log('client sending....')
        var messageInputDom = $(input_id);
        chatSocket.send(JSON.stringify({
            'message': messageInputDom.value
        }));
        //reset input area
        messageInputDom.value = '';
    };
</script>
</html>