<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" media="all" type="text/css" href="{% static '/chat/style.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="{% static '/chat/chat.js' %}"></script>
</head>
<body>
    <div class="chat">
        <div class="chat-title">
            <h1>Mike Z</h1>
            <h2>ilovejs</h2>
            <figure class="avatar">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" />
            </figure>
        </div>
        <!--panel-->
        <div class="messages">
            <div class="messages-content"></div>
        </div>
        <!--sender panel-->
        <div class="message-box">
            <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
            <button type="submit" class="message-submit">Send</button>
        </div>

    </div>
    <div class="bg"></div>
</body>
<script>
    let messages = $(".messages-content");
    let last_min = 0;
    let robot_profile_img = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg';

    $(window).load(function () {
        //mCustomScrollbar is function from jquery mCustomScrollbar plugin
        messages.mCustomScrollbar();
    });
    //double loading to prevent `ws load too quick with no greeting message` problem
    messages.mCustomScrollbar();

    //scroll down
    function updateScrollbar() {
        console.log('updateScrollbar.');
        messages.scrollTop(1000);
    }

    //append to last message
    function setDate() {
        let last_msg = $('.message.new').last();
        let d = new Date();

        $('<div class="timestamp">' + d.getHours() + ':' + last_min + ':' + d.getSeconds() + '</div>').appendTo(last_msg);

        /* log time per minute
        if (last_min !== d.getMinutes()) {
            last_min = d.getMinutes();
            $('<div class="timestamp">' + d.getHours() + ':' + last_min + '</div>')
                .appendTo(last_msg);
        }
        */
    }

    //attach client message
    function clientMessage(msg) {
        msg = $.trim(msg);

        if (!msg) {
            return false;
        }

        $('<div class="message message-personal">' + msg + '</div>').appendTo(
            $('.mCSB_container')
        ).addClass('new');

        //reset input area
        $('.message-input').val(null);

        setDate();
        updateScrollbar();
    }

    function showMessageLoading(){
        let chat_box_dom = $('.mCSB_container');

        //message loading
        $('<div class="message loading new"><figure class="avatar"><img src=' + robot_profile_img + '/></figure><span></span></div>')
            .appendTo(chat_box_dom);

        updateScrollbar();
        $('.message.loading').remove();
    }

    function robotMessage(bot_msg) {
        console.log('[' + typeof(bot_msg) + '] bot_msg: ' + bot_msg);

        let chat_box_dom = $('.mCSB_container');

        $('<div class="message new"><figure class="avatar"><img src="' + robot_profile_img + '"/></figure>'
            + bot_msg + '</div>').appendTo(chat_box_dom).addClass('new');

        setDate();
        updateScrollbar();
    }

    function clientWsSend(msg) {
        chatSocket.send(JSON.stringify({
            'message': msg
        }));
    }

    //connection
    let chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

    /*  Do nothing on Open
        chatSocket.onopen = function(e) {

        let chat_box_dom = $('.mCSB_container');
        let greeting_msg = 'user join chat.';

        $('<div class="message new"><figure class="avatar"><img src="' + robot_profile_img + '"/></figure>'
            + greeting_msg + '</div>').appendTo(chat_box_dom).addClass('new');
        };
    */

    chatSocket.onmessage = function(e) {
        let data = JSON.parse(e.data);
        let bmsg = data['message'];
        robotMessage(bmsg);
    };

    chatSocket.onclose = function() {
        console.error('Chat socket closed unexpectedly');
        alert('websocket disconnected. Refresh.');
    };

    chatSocket.onerror = function(e) {
        console.error(e);
        alert('Server error. Refresh.');
    };
    
    // browser init
    let input_id = '.message-input';
    let submit_id = '.message-submit';
    
    //focus on textarea
    $(input_id).focus();

    $(input_id).keyup(function(e) {
        // enter, return
        if (e.keyCode === 13) {  
            $(submit_id).click();
        }
    });

    //user mouse submit to ws
    $(submit_id).click(function(e){
        let messageInputDom = $(input_id);
        let cmsg = messageInputDom.val();

        chatSocket.send(JSON.stringify({
            'message': cmsg
        }));
        
        clientMessage(cmsg);
    });
</script>
</html>