<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" media="all" type="text/css" href="{% static '/chat/style.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="{% static '/chat/chat.js' %}"></script>
</head>
<body>
    <div class="chat">
        <div class="chat-title">
            <h1>Mike Z</h1>
            <h2>Supah</h2>
            <figure class="avatar">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" />
            </figure>
        </div>
        <!--panel-->
        <div class="messages">
            <div class="messages-content"></div>
        </div>
        <!--sender panel-->
        <div class="message-box">
            <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
            <button type="submit" class="message-submit">Send</button>
        </div>

    </div>
    <div class="bg"></div>
</body>
<script>
    var messages = $(".messages-content"), d, h, m, i = 0;
    var robot_profile_img = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg';

    //connection
    var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var bmsg = data['message'];
        console.log('recv bot msg' + bmsg);
        robotMessage(bmsg);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    $(window).load(function () {        
        //mCustomScrollbar is function from jquery mCustomScrollbar plugin
        messages.mCustomScrollbar();
    });

    function updateScrollbar() {
        console.log('updateScrollerBar...');
        messages.mCustomScrollbar("update").mCustomScrollbar('scrollTo', 'bottom', {
            scrollInertia: 10,
            timeout: 0
        });
    }
    
    function setDate() {
        d = new Date()
        if (m != d.getMinutes()) {
            m = d.getMinutes();
            $('<div class="timestamp">' + d.getHours() + ':' + m + '</div>').appendTo($('.message:last'));
        }
    }

    function clientMessage(msg) {
        msg = $.trim(msg);

        if (!msg) {
            return false;
        }

        $('<div class="message message-personal">' + msg + '</div>').appendTo(
            $('.mCSB_container')
        ).addClass('new');
    
        setDate();
        
        //reset input area
        $('.message-input').val(null);

        updateScrollbar();
    }

    function robotMessage(bot_msg) {
        console.log('fn robotMessage')

        //message loading
        //$('<div class="message loading new"><figure class="avatar"><img src=' + robot_profile_img + ' /></figure><span></span></div>').appendTo($('.mCSB_container'));

        //updateScrollbar();

        //$('.message.loading').remove();
            
        $('<div class="message new"><figure class="avatar"><img src=' + robot_profile_img + ' /></figure>' 
            + bot_msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
        
        setDate();

        updateScrollbar();
    }

    // brower init
    var input_id = '.message-input';
    var submit_id = '.message-submit';
    
    //focus on textarea
    $(input_id).focus();

    $(input_id).keyup(function(e) {
        // enter, return
        if (e.keyCode === 13) {  
            $(submit_id).click();
        }
    });

    //mouse submit
    $(submit_id).click(function(e){
        var messageInputDom = $(input_id);
        var cmsg = messageInputDom.val();

        chatSocket.send(JSON.stringify({
            'message': cmsg
        }));
        
        clientMessage(cmsg);
        
        //messageInputDom.val('');
    });
</script>
</html>